@keyframes typing {
    0% {
        content: " D |";
    }

    2% {
        content: "De |";
    }

    4% {
        content: "Des |";
    }

    6% {
        content: "Desi |";
    }

    8% {
        content: "Desig |";
    }

    10% {
        content: "Design |";
    }

    12% {
        content: "Designe |";
    }

    14% {
        content: "Designer |";
    }

    16% {
        content: "Designe |";
    }

    18% {
        content: "Design |";
    }

    20% {
        content: "Desig |";

    }

    22% {
        content: "Desi |";
    }

    24% {
        content: "Des |";
    }

    26% {
        content: "De |";
    }

    28% {
        content: "D |";
    }

    30% {
        content: " |";
    }

    32% {
        content: "D |";

    }

    34% {
        content: "De |";

    }

    36% {
        content: "Dev |";
    }

    38% {
        content: "Deve |";
    }

    40% {
        content: "Devel |";
    }

    42% {
        content: "Develo |";
    }

    44% {
        content: "Develop |";
    }

    46% {
        content: "Develope |";

    }

    48% {
        content: "Developer |";

    }

    50% {
        content: "Develope |";

    }

    52% {
        content: "Develop |";

    }

    54% {
        content: "Develo |";
    }

    56% {
        content: "Devel |";
    }

    58% {
        content: "Deve |";
    }

    60% {
        content: "Dev |";
    }

    62% {
        content: "De |";
    }

    64% {
        content: "D |";
    }

    66% {
        content: " |";
    }

    68% {
        content: "L |";
    }

    70% {
        content: "La |";
    }

    72% {
        content: "Lar |";
    }

    74% {
        content: "Larr |";
    }

    76% {
        content: "Larry |";
    }

    78% {
        content: "Larry D |";
    }

    80% {
        content: "Larry Da |";
    }

    82% {
        content: "Larry Dani |";
    }

    84% {
        content: "Larry Daniel |";
    }

    86% {
        content: "Larry Daniels |";
    }

    88% {
        content: "Larry Danie |";
    }

    90% {
        content: "Larry Dan |";
    }

    92% {
        content: "Larry D |";
    }

    94% {
        content: "Lar |";
    }

    96% {
        content: "La |";
    }

    98% {
        content: "L |";
    }

    100% {
        content: " |";
    }
}

@keyframes typing-smooth {
    0% {
        content: " |";
    }

    16% {
        content: " Designer |";
    }

    32% {
        content: " |";
    }

    48% {
        content: "Developer |";
    }

    64% {
        content: " |";
    }

    80% {
        content: "Lary Daniels |";
    }

    100% {
        content: " |";
    }
}

@keyframes typing1 {
    0% {
        border-right:1px solid;
        width: 0;
    }

    14.1666% {
        border-right:1px solid;
        width: 62%;
    }

    19.16666% {
        border-right:1px solid;
        width: 62%;
    }

    33.3333% {
        border-right:1px solid;
        width: 0;
    }
    33.4%{
       border: none;
    }

    47.4999% {
        
        width: 0;
        border: none;
        
    }

    52.4999% {
        border:none ;
        width: 0;
    }

    66.6665% {
        border:none ;
        width: 0;
    }

    81.6665% {
        border:none ;
        width: 0;
    }

    86.8331% {
        border:none ;
        width: 0;
    }

    100% {
        border:none ;
        width: 0;
    }

}

@keyframes typing2 {
    0% {
        width: 0;
        border:none ;
    }

    14.1666% {
        width: 0;
        border:none ;
    }

    19.16666% {
        width: 0;
        border:none ;
    }
    32%{
        border: none;
    }

    33.3333% {
        width: 0;
        border-right:1px solid;
        
    }

    47.4999% {
        width: 62%;
        border-right:1px solid;
    }

    52.4999% {
        width: 62%;
        border-right:1px solid;
    }
    

    66.6665% {
        border-right:1px solid;
        width: 0;
    }
    67%{
        border: none;
    }

    81.6665% {
        border: none;
        width: 0;
    }

    86.8331% {
        border: none;
        width: 0;
    }

    100% {
        border: none;
        width: 0;
    }

}

@keyframes typing3 {
    0% {
        border: none;
        width: 0;
    }

    14.1666% {
        border: none;
        width: 0;
    }

    19.16666% {
        border: none;
        width: 0;
    }

    33.3333% {
        border: none;
        width: 0;
    }

    47.4999% {
        border: none;
        width: 0;
    }

    52.4999% {
        border: none;
        width: 0;
    }

    66.6665% {
        border: none;
        width: 0;
    }

    81.6665% {
        
        border-right:1px solid;
        width: 70%;
    }

    86.8331% {
        
        width:70%;
        border-right:1px solid;
    }

    100% {
        border-right:1px solid;
        width: 0;
    }

}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing4 {
    0%{
        width:0%;
    }
    16%{
        width:20%;
    }
    32%{
        width:20%;
    }

}
    /* @keyframes cursor1 {
        0% {
            width: 0;
        }

        14.1666% {
            width: 287.52px;
        }

        19.16666% {
            width: 287.52px;
        }

        33.3333% {
            width: 0;
        }
        34%{
           
        }

        47.4999% {
            width: 0;
            
            
        }

        52.4999% {
            width: 0;
           
        }

        66.6665% {
            border:none ;
            width: 0;
            
        }

        81.6665% {
            border:none ;
            width: 0;
            border-color: transparent;
        }

        86.8331% {
            border:none ;
            width: 0;
            border-color: transparent;
        }

        100% {
            border:none ;
            width: 0;
            border-color: transparent;
        }

    }
    @keyframes cursor2 {
        0% {
            width: 0;
        }
    
        14.1666% {
            width: 0;
        }
    
        19.16666% {
            width: 0;
        }
    
        33.3333% {
            width: 0;
        }
    
        47.4999% {
            width: 322.13px;
        }
    
        52.4999% {
            width: 322.14px;
        }
    
        66.6665% {
            width: 0;
        }
    
        81.6665% {
            border:none ;
            
            width: 0;
           
        }
        82%{
            
        }
    
        86.8331% {
            border:none ;
            width: 0;
            border:none ;
     
        }
    

        100% {
             border:none ;
            width: 0;
            
            
        }
    
    }
    @keyframes cursor3 {
        0% {
            width: 0;
        }

        14.1666% {
            width: 287.52px;
        }

        19.16666% {
            width: 287.52px;
        }

        33.3333% {
            width: 0;
        }
        34%{
        
        }

        47.4999% {
            width: 0;
            border-color: transparent;
            
        }

        52.4999% {
            width: 0;
            border-color: transparent;
        }

        66.6665% {
            width: 0;
            border-color: transparent;
        }

        81.6665% {
            width: 0;
            border-color: transparent;
        }

        86.8331% {
            width: 0;
            border-color: transparent;
        }

        100% {
            width: 0;
            border-color: transparent;
        }

    } */
